/* Menu.css */

.menu {
  margin-top: 20px;
}

.menu ul {
  list-style: none;
  padding: 10px 20px;
}

.menu li {
  margin-bottom: 10px;
  color: lightslategray;
}

/* Lists' icons */
.icons-style {
  margin-right: 10px;
}
