/* Playlist.css */

h2 {
  padding-top: 10px;
  text-align: center;
}

.playlist {
  margin-top: 15px;
}

.playlist ul {
  list-style: none;
  padding: 10px 20px;
}

.playlist li {
  margin-bottom: 10px;
  color: lightslategray;
}

/* Lists' icons */
.icons-style {
  margin-right: 10px;
}

/* Modal */
.modal-custom {
  background-color: #161234;
  color: white;
  width: 45%;
  height: auto;
  margin: 200px auto;
  padding: 20px;
  border-radius: 10px;
  position: relative;
}

/* Close Modal */
.close-modal-icon {
  cursor: pointer;
  color: lightslategray;
  position: absolute;
  top: 15px;
  right: 15px;
  font-size: 20px;
  z-index: 1;
}

/* Album picture */
.album-img {
  width: 30%;
  border-radius: 10px;
  background-color: white;
  color: #161243;
  display: block;
  margin: 0 auto;
}

/* Create new playlist Form */
form {
  margin-top: 30px;
}

/* Create new playlist Form */
.modal-form {
  text-align: center;
  display: flex;
  margin: 20px auto 0;
  justify-content: center;
  z-index: 1;
}

/* Playlist name */
input.playlist-input {
  width: 50%;
  height: 10px;
  padding: 10px;
  margin-top: 10px;
  border-radius: 5px;
}

/* Create new playlist icon */
.create-new-playlist {
  padding-top: 7px;
  margin-left: 8px;
  background-color: transparent;
  color: lightslategray;
  border: none;
  cursor: pointer;
  font-size: 2.2em;
}

.create-new-playlist:hover,
.close-modal-icon:hover,
.more-playlists:hover {
  color: white;
}

/* The new added playlist */
.added-playlist-modal {
  margin-left: 15px;
}

.added-playlist-list {
  margin-left: 20px;
}

/* Playlist already exist msg */
.error-msg {
  color: red;
  font-size: 0.8em;
  text-align: center;
  margin-bottom: 15px;
}

/* Show All text */
.more-playlists {
  color: lightslategray;
  text-decoration: none;
  font-size: 0.9em;
  float: right;
  cursor: pointer;
}

/* "NEW" text */
.new-label {
  color: #8f1597;
  font-size: 0.9em;
  margin-left: 10px;
  vertical-align: middle;
}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1024px) {

  /* Album picture */
  .album-img {
    width: 20%;
  }

  .modal-custom {
    width: 30%;
  }
}