/* Profile.css */

.profile-edit {
  margin: 20px 15px;
}

/* Profile */
.profile {
  text-align: center;
}

/* Profile picture */
.profile-img {
  width: 30%;
  margin-top: 20px;
  margin-bottom: 10px;
  border-radius: 50%;
  height: 100%;
  background-color: white;
  border: none;
}

/* Edit profile text */
.edit-profile-text {
  position: absolute;
  bottom: 30%;
  left: 50%;
  transform: translate(-50%, 100%);
  width: 50%;
  background-color: rgba(0, 0, 0, 0.6);
  color: white;
  padding: 5px;
  margin: auto;
  text-align: center;
  text-decoration: none;
  font-size: 0.7em;
  opacity: 0;
  transition: opacity 0.2s ease-in-out;
  cursor: pointer;
}

/* Profile picture container */
.profile-img-container {
  position: relative;
  display: inline-block;
  width: 100%;
}

/* Apply styles to profile-img on edit-profile-text hover */
.profile-img:hover,
.profile-img-container:hover .profile-img {
  cursor: pointer;
  border: 2px solid white;
}

/* Edit profile About/Bio */
.profile-bio {
  margin: 10px auto;
}