* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.playlists {
  width: 100%;
  height: fit-content;
  margin-bottom: 4rem;
}

.playlist-container .infos {
  margin: 0 2.5rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.playlist-container h2 {
  color: #161234;
}

.playlist-container a {
  border: none;
  background: transparent;
  margin-right: 0.3rem;
  font-size: 0.8rem;
  text-decoration: none;
  color: #9623f4;
  cursor: pointer;
}

.playlist-container button:hover {
  color: black;
}

.arrow {
  width: 2rem;
  height: 3rem;
  border: none;
  background: transparent;
  cursor: pointer;
}

.arrow:hover {
  color: #9623f4;
}

.playlist-container {
  width: 100%;
  height: 12rem;
  margin: 1rem 0;
}

.card-playlist-list {
  margin-top: 1rem;
  position: relative;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

.arrow-left {
  position: absolute;
  left: 0;
}

.arrow-right {
  position: absolute;
  right: 0;
}

.list-container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: auto;
  width: 80%;
  height: 7rem;
  overflow: hidden;
}

.cardPlaylist {
  margin: 0 0.5rem;
  position: relative;
  background-image: url("img/1.png");
  width: 8.5rem;
  height: 7rem;
  border-radius: 1rem;
  cursor: pointer;
}

.card-container {
  position: absolute;
  bottom: 0.2rem;
  left: 0.3rem;
  padding: 0.15rem;
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 8rem;
  border-radius: 1rem;
  background-color: #530f8b9f;
}

.card-container h5,
.card-contaoner h6 {
  font-weight: 500;
}

.card-container h5 {
  font-size: 0.8rem;
  color: white;
}

.card-container h6 {
  font-size: 0.7rem;
  color: rgb(233, 231, 231);
}

.tracks-container {
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.music-note {
  padding-top: 0.1rem;
  margin-right: 0.2rem;
  font-size: 0.7rem;
  color: white;
}

.card-container button {
  margin: none;
  padding-top: 0.3rem;
  background: transparent;
  border: none;
  color: white;
  font-size: 1.5rem;
  font-weight: bold;
  cursor: pointer;
}

.genre-container {
  margin: 0 auto;
  padding: 0 0.2rem;
  color: white;
  width: 85%;
  height: 13rem;
  overflow: hidden;
  background-color: #161234;
  border-radius: 1.5rem;
}

.genre-container .infos {
  margin: 0.2rem 0.7rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.genre-container button {
  background: transparent;
  border: none;
  font-size: 0.8rem;
  text-decoration: none;
  color: #c7c7c7;
  cursor: pointer;
}

.genre-container button:hover {
  color: white;
}

.genre-container .card-genre-list {
  margin: 0.5rem auto;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: auto;
}

.card-genre {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0.5rem auto;
  width: 6rem;
  height: 3.5rem;
  color: white;
  background-color: #b27af1;
  border-radius: 1rem;
  cursor: pointer;
}

@media (min-width: 768px) {
  .playlist-container {
    margin: 1rem auto;
    width: 85%;
  }

  .playlist-container .infos {
    margin: auto 0.7rem;
  }

  .card-playlist-list {
    padding-top: 0.5rem;
  }

  .list-container {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: auto;
  }

  .genre-container {
    height: 10rem;
  }

  .genre-container .card-genre-list {
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    grid-template-rows: auto;
  }
}

@media (min-width: 1024px) {
  .playlists {
    margin-top: 1rem;
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
  }
  button {
    font-size: 0.8rem;
  }
  .playlist-container {
    width: 60%;
    height: 13rem;
  }

  .list-container {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: auto;
    width: 90%;
  }

  .genre-container {
    width: 30%;
    height: 13rem;
  }

  .card-playlist-list {
    padding-top: 0.5rem;
  }

  .genre-container .card-genre-list {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: auto;
  }
}
