/* ArtistsWindow.css */

/* Artists Card List*/
.artist-list {
    display: flex;
    flex-wrap: wrap;
    gap: 2rem;
}

/* Scrollbar width */
::-webkit-scrollbar {
    width: 10px;
}

/* Scrollbar Track */
::-webkit-scrollbar-track {
    background: #f1f1f1;
    box-shadow: inset 0 0 5px grey;
}

/* Scrollbar Handle */
::-webkit-scrollbar-thumb {
    background: #888;
}

/* Scrollbar Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: #555;
}