/* Header.css */

/* Title + Search */
.Header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 5px;
  padding: 0 5%;
}

/* Home Title */
.Title {
  color: #161234;
}

/* Search Container */
.search-container {
  display: flex;
  align-items: center;
  background-color: transparent;
  border: 1px solid;
  border-radius: 2rem;
  width: 70%;
}

/* Search input */
.searchbar-input {
  border: none;
  text-align: center;
  outline: none;
  margin: 5px;
}

/* Search Icon */
.search-icon {
  font-size: 25px;
  cursor: pointer;
  margin: 5px;
}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1024px) {

  /* Title + Search */
  .Header {
    margin-top: 20px;
  }
}