/* Home.css */

/* All components */
.container {
  position: relative;
  margin-top: 10px;
  background-color: transparent;
}

/* Main + Trending */
.container .main-components {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}

/* Trending Container */
.trending-container {
  margin: 0;
}

/* Trending Title */
.trending-title {
  text-align: left;
  margin: 20px;
  width: 85%;
}

/* See more buttons */
.see-more {
  color: lightslategray;
  text-decoration: none;
  cursor: pointer;
  font-size: 0.8em;
}

.see-more:hover {
  color: #161234;
}

/* Top Artists */
.topArtist-elements {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 20px;
}

/* Top Artists Title */
.topArtist-title {
  text-align: left;
  margin-bottom: 5px;
  padding-top: 0;
}

/* Top Artists Header */
.topArtist-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 10px 20px;
}

/* Top Artists Container */
.topArtist-container {
  border-radius: 1.5rem;
  height: 100%;
  width: 85%;
  margin: 0 auto;
  padding: 0 0.2rem;
}

/* See More Artists */
.topArtist-container .see-more {
  margin: 15px;
  cursor: pointer;
}

/* Top Artists elements */
.topArtist-elements {
  margin-bottom: 30px;
}

/* Top Artists Items */
.topArtist-items {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 10px;
  margin: 0 auto;
}

/* Top Artists arrows */
.topArtist-arrow {
  color: #161234;
  cursor: pointer;
  margin: 0 10px;
  font-size: 0.9em;
}

.topArtist-arrow:hover {
  color: #9464ca;
  font-size: 1em;
}

/* Small devices */
@media only screen and (max-width: 768px) {

  /* Main + Trending */
  .container .main-components {
    display: block;
    flex-direction: column;
    align-items: center;
    text-align: center;
  }

  /* Trending Title */
  .trending-title {
    margin-left: auto;
  }

  /* Trending Container Lists */
  .trending-container .trending-items {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: auto;
    height: 100%;
    width: 85%;
    margin: 0 auto;
    padding: 0 0.2rem;
  }
}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1024px) {

  /* Trending Title */
  .trending-title {
    margin-left: 0px;
  }

  /* Main + Trending */
  .container .main-components {
    display: flex;
    align-items: center;
  }
}