/* Main.css */

/* Trending paragraph */
.Home {
  background-image: linear-gradient(to right,
      rgb(187, 131, 239),
      rgb(192, 0, 192));
  margin-top: 20px;
  margin-left: 15px;
  border-radius: 25px;
  padding: 15px 10px;
  box-shadow: 1px 1px 10px black;
  width: 60%;
  height: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.home-paragraphs {
  flex: 1;
  padding-right: 20px;
}

/* Heading paragraph */
.par1 {
  color: white;
  font-size: 1.8em;
}

/* Paragraph */
.par2 {
  color: beige;
  font-size: 1em;
  margin-top: 5px;
}

/* Explore Now botton */
.btn {
  color: rgb(169, 94, 239);
  border-radius: 25px;
  border-style: none;
  padding: 10px;
  margin: 10px auto 5px;
  box-shadow: 5px 5px 90px black;
  cursor: pointer;
  transition: 0.5s;
}

.btn:hover {
  color: white;
  background-image: linear-gradient(to right,
      rgb(187, 131, 239),
      rgb(192, 0, 192));
}

/* Poster Photo */
.poster {
  /* display: flex; */
  position: absolute;
  /* margin: 40% 0 60% 0; */
  height: 60%;
}

/* Small devices */
@media only screen and (max-width: 768px) {

  /* Trending paragraph */
  .Home {
    margin: 30px auto;
    width: 90%;
  }
}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1024px) {

  /* Trending paragraph */
  .Home {
    padding: 30px 35px;
    margin-left: 30px;
  }

  /* Heading paragraph */
  .par1 {
    font-size: 2.2em;
  }

  /* Paragraph */
  .par2 {
    font-size: 1.2em;
  }

  /* Explore Now botton */
  .btn {
    margin: 20px auto 5px;
    align-items: center;
  }
}