.Home {
  background-image: linear-gradient(
    to right,
    rgb(187, 131, 239),
    rgb(192, 0, 192)
  );
  width: 40%;
  height: 30%;
  margin-left: 5%;
  border-radius: 30px;
  padding-bottom: 30px;
  padding-top: 10px;
  box-shadow: 1px 1px 10px black;
}

.par1 {
  color: rgba(245, 245, 245, 0.781);
  margin-left: 30px;
}
.par2 {
  color: white;
  font-size: 40px;
  width: 50%;
  margin-left: 30px;
  margin-top: 1%;
}
.par3 {
  color: rgba(245, 245, 245, 0.781);
  width: 50%;
  margin-left: 30px;
  margin-top: 1%;
}
.btn {
  color: rgb(169, 94, 239);
  border-radius: 50px;
  border-style: none;
  margin-left: 30px;
  padding: 12px;
  box-shadow: 5px 5px 90px black;
  cursor: pointer;
  font-weight: 600;
  margin-top: 1%;
  transition: 0.5s;
}
.btn:hover {
  color: white;
  background-image: linear-gradient(
    to right,
    rgb(187, 131, 239),
    rgb(192, 0, 192)
  );
}
.girl {
  display: flex;
  position: absolute;
  left: 3px;
  top: 112px;
  height: 67%;
  width: auto;
  overflow: hidden;
}
